ANTHROPIC_API_KEY=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
SUPABASE_URL=https://bblgfbqrufikxsnvmkup.supabase.co
SUPABASE_SERVICE_KEY=sb_secret_QFTzDLD0H7qIITdeq206-w_cqrC25fH
